<script> window.songID = "<%= @song_id %>" </script>

<div class="text-center cell">
  <h4>Now playing <%= @song_title %> </h4>
</div>

<%= form_for @conn, page_path(@conn, :send_song), fn f -> %>
  <%= text_input f, :song, placeholder: "Antidote", required: true, autofocus: true %>

  <%= submit "Search", class: "button success expanded" %>
<% end %>

